@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300;1,700&family=Rubik+Bubbles&display=swap');
.event-baner{
    width: 1000px;
    height: 300px;
    background-image: url(https://avatars.mds.yandex.net/get-altay/225456/2a00000186d0f47180e5803ea07e72e8ba9f/XXXL);
    background-position: 0 -200px;
}
.races{
    padding-left:40px;
}
.races h2, .races p{
    margin: 0;
    line-height: 2;
}
td{
    /* border: 2px solid black; */
    font-size: 20px;
    padding: 6px 16px;
}
table{
    border-collapse: collapse;
    width: 1000px;
}
th{
    /* border: 2px solid black; */
    background-color: rgb(101, 197, 241);
    padding: 15px;
    font-size: 25px;
    font-family: Rubik Bubbles;
}
tr:nth-child(odd){
    background-color: rgb(231, 228, 228);
}
tr:hover{
    background-color: darkgray;
}